table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tfoot {
  font-size: smaller;
  text-align: center;
}

.rosterBox {
  height: auto;
  width: 70%;
  margin: auto;
}

.rosterHeader {
  height: 50px;
  width: auto;
  text-align: center;
}

.roster1 {
  height: auto;
  width: 50%;
  float: left;
}

.roster2 {
  height: auto;
  width: 50%;
  float: right;

}

.rosterClear {
  clear: right;
}

.scores td:first-child {
   text-align: left;
   padding: 0px 10px 0px 10px;
 }

 .scores {
   text-align: center;
 }

.team {
  list-style-type: disc;
}

.position {
  list-style-type: lower-greek;
}

.player {
  list-style-type: disc;
}

 .team>li{
   font-weight: bolder;
   font-size: larger;
   text-transform: uppercase;
 }

 .position>li {
   font-weight: bold;
 }

 .logo {
   height: 100px;
   padding: 5px;
 }

 .formList {
   list-style-type: none;
 }
