table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tfoot {
  font-size: smaller;
  text-align: center;
}

.scores td:first-child {
   text-align: left;
   padding: 0px 10px 0px 10px;
 }

 .scores {
   text-align: center;
 }

.team {
  list-style-type: disc;
}

.position {
  list-style-type: lower-greek;
}

.player {
  list-style-type: square;
}

 .team>li{
   font-weight: bolder;
   font-size: larger;
   text-transform: uppercase;
 }

 .position>li {
   font-weight: bold;
 }

 .player>li {

 }

 .logo {
   width: 100px;
   padding: 5px;
 }
